<div class="container container-fluid">
  <div class="row justify-content-center p-0">
    @for (step of steps; track step.title; let idx = $index) {
    @if (idx == currentStep) {
    <section class="card {{animation}}" id="step" >
      <div class="card-img-top {{ step.bgcolor }}">
        <img class="img" src="{{ step.img }}" alt="{{ step.title }}" />
      </div>
      <div class="card-body p-4">
        <h5 class="card-title">{{ step.title }}</h5>
        <p class="card-text">{{ step.description }}</p>
      </div>
      <div class="card-footer d-flex flex-row justify-content-between align-items-center p-4">
        <nav aria-label="Steps navigation">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'active': currentStep === 0}"><a class="page-link" (click)="goToStep(0)"></a></li>
          <li class="page-item" [ngClass]="{'active': currentStep === 1}"><a class="page-link" (click)="goToStep(1)"></a></li>
          <li class="page-item" [ngClass]="{'active': currentStep === 2}"><a class="page-link" (click)="goToStep(2)"></a></li>
        </ul>
      </nav>
        <div class="d-flex justify-content-end">
          @if ($first === false) {
          <button class="btn" (click)="changeStep(0)">
            <img class="img-btn" src="assets/arrow-left-circle.svg" alt="previous " />
          </button>
          }
          @if ($last === false) {
          <button class="btn" (click)="changeStep(1)">
            <img class="img-btn" src="assets/arrow-right-circle-fill.svg" alt="next" />
          </button>
          }
        </div>
    
      </div>
    </section>
    } }
  </div>
</div>

