@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

.container {
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    padding: 5rem;

}

#step {
    display: flex;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.265);
    border-radius: 20px;
    padding: 0;
    max-width: 15rem;
    min-width: none;
    max-height: 45rem;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
}

.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 20rem;

}

.img {
    width: 15rem;
    height: 15rem;
    padding: 1rem;
}

.background-color-blue {
    background-color: #4da2a9;
}

.background-color-grey {
    background-color: #d3d4d9;
}

.background-color-yellow {
    background-color: #ffd167;
}

.card-body {
    background-color: white;
    margin: 0;
    padding: 2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-title {
    font-weight: 600;
    font-size: medium;
}

.card-text {
    font-weight: 300;
    font-size: small;
}


.img-btn {
    width: 2.2rem;
    height: 2.2rem;
    margin-bottom: 1rem;
}

.pagination {
    .page-item {
        .page-link {
            width: 6px;
            height: 6px;
            margin: 0.2rem;
            border-radius: 50%;
            background-color: #8b8b8b;
            display: inline-block;
            padding: 0;
            text-align: center;
        }

        &.active .page-link {
            width: 20px;            
            border-radius: 50px;
            margin: 0.2rem;
            background-color: #000000;
        }
    }
}
