<div class="container container-fluid">
  <div class="row justify-content-center p-0">
    @for (step of steps; track step.title; let idx = $index) { 
      @if (idx == currentStep) {
      <div class="card" id="step">
        <div class="card-img-top {{ step.bgcolor }}">
          <img class="img" src="{{ step.img }}" alt="{{ step.title }}" />
        </div>
        <div class="card-body p-4">
          <h5 class="card-title">{{ step.title }}</h5>
          <p class="card-text">{{ step.description }}</p>
        </div>
        <div class="card-footer d-flex flex-row justify-content-between align-items-center">
          <ul class="pagination">
            <li class="page-item dash"><a class="page-link" href="#"></a></li>
            <li class="page-item dot"><a class="page-link" href="#"></a></li>
            <li class="page-item dot"><a class="page-link" href="#"></a></li>
          </ul>
          <div class="d-flex justify-content-end">
          @if ($first === false) {
            <button class="btn" (click)="changeStep(0)">
              <img
                class="img-btn"
                src="assets/arrow-left-circle-fill.svg"
                alt="previous "
              />
            </button>
          }
          @if ($last === false) {
           <button class="btn" (click)="changeStep(1)">
            <img
              class="img-btn"
              src="assets/arrow-right-circle-fill.svg"
              alt="next"
            />
          </button>
          }
       


        </div>
      </div>
    </div>
    } }
  </div>
</div>
